@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  @apply box-border;
}

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  @apply overflow-x-hidden;
}

video {
  filter: drop-shadow(0px 4px 20px rgba(144, 154, 164, 0.15));
}

/* GENERAL */

.content-paragraph {
  @apply text-text-secondary text-[19px] font-light leading-[26px] py-8;
}

.bg-banner {
  @apply bg-banner-bg;
}

.subject-buttons-container {
  @apply flex justify-start items-center mt-14 w-full h-auto md-max:justify-center md-max:items-center;
}

.subject-button {
  box-shadow:  0px 4px 4px rgba(144, 154, 164, 0.15);
  @apply border border-navbar-btn bg-white w-[200px] h-[60px] rounded-[30px] text-banner-title-green text-[22px] sm-max:text-[14px] font-bold mr-[31px];
}
/* HEADER */

/* NAV */

.nav-item {
  @apply h-[52px] rounded-[40px] text-lg text-[#202020] flex justify-center items-center hover:cursor-pointer leading-[21.09px];
}

.nav-item:not(:first-of-type) {
  @apply ml-[28px];
}

.nav-item-active {
  @apply rounded-[20px] bg-navbar-btn/50;
}

/* SUBJECT CARDS */

main {
  @apply h-auto w-screen flex flex-col justify-center items-center;
}

.container {
  width: calc(100vw - 14%);
  @apply h-full;
}

.subject-card {
  filter: drop-shadow(0px 15px 18px rgba(0, 0, 0, 0.06));
  @apply bg-cover border-white h-[268px] w-[593px] border-8 rounded-[30px] mx-3 flex justify-center items-end md-max:mt-8 md-max:w-3/4;
}

.biology-card {
  @apply bg-[url('/assets/card-biology.jpg')];
}

.chemistry-card {
  @apply bg-[url('/assets/card-chemistry.jpg')];
}

.selected-card {
  filter: drop-shadow(0px 21px 41px rgba(3, 202, 169, 0.22));
  @apply border-banner-title-green;
}

.subject-card-label {
  @apply font-bold text-[22px] leading-[26px] rounded-t-[30px] h-[60px] w-[200px] bg-white text-inactive-card-green flex justify-center items-center pt-2;
}

.selected-card > .subject-card-label {
  @apply !bg-banner-title-green !text-white !font-black;
}

/* What's Included Section */

.selling-card {
  box-shadow: 0px 4px 25px rgba(144, 154, 164, 0.15);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  @apply pr-4 bg-white flex-1 md-max:w-full h-[153px] rounded-[10px] flex justify-start items-center font-medium md-max:text-sm text-black leading-[23.44px] pl-7 text-xl my-3 md-min:m-3;
}
/* md-min:w-[394px] md-max:w-[90%] */

.ap-included-content {
  @apply flex font-semibold text-lg leading-5;
}

.ap-included-content:not(:first-of-type) {
  @apply mt-[40px];
}

.ap-included-content > p {
  @apply pl-[25px] text-xl font-normal leading-[23px] text-text-secondary;
}

/* Video Lessons Section */

/*=================Footer=================*/
footer {
  @apply text-white relative h-auto bg-[#12151d] pt-[42px] flex;
}

.footer-content {
  @apply w-full mx-auto;
  position: relative;
  display: flex;
}

.footer-logo {
  @apply h-[42px];
  margin-bottom: 1.299rem;
}

.jove-links-1 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 1.6rem;
}

.jove-links-1 a {
  color: #ffffff;
  text-decoration: none;
  height: 21.18px;
  font-size: 12px;
  letter-spacing: 0.76px;
  line-height: 15px;
  cursor: pointer;
  padding: 0 0.4rem;
}

.jove-links-1 a:visited {
  color: #ffffff;
  text-decoration: none;
}

.jove-links-2 {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 34px;
  margin-top: 3rem;
}

.jove-links-2 a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 2rem;
  border-right: 1px solid  rgba(255, 255, 255, 0.1);
}

.jove-links-2 a:first-child {
  /* font-weight: 900; */
}

.jove-links-2 a:last-child {
  /* border: none; */
}

.jove-links-2 a:visited,
.jove-links-2 a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-social-btns {
  display: flex;
}

.footer-social-btn {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 1px solid #2d3342;
  margin-right: 1.375rem;
}

.footer-social-btn:last-child {
  margin-right: 0;
}

.footer-social-btn:hover {
  background-color: #ffffff;
  color: #12151d !important;
}

.footer-social-btn:visited {
  color: #ffffff;
}

.trademark {
  padding-right: 125px;
  letter-spacing: 0.06px;
  margin-top: 0;
  font-size: 12px;
}

@media (max-width: 1200px) {
}

@media (max-width: 769px) {
  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .footer-block-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-btns {
    text-align: center;
  }

  .jove-links-2 {
    /* display: flex;
    flex-direction: column; */
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.08px;
    line-height: 34px;
    position: relative;
    left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .jove-links-2 a {
    padding: 20px 4rem 0px 0px !important;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.32); */
    border-right: 0;
  }

  .trademark {
    bottom: 0;
    right: 0;
    letter-spacing: 0.06px;
    text-align: center;
    margin-top: 0;
  }
}
