.blog {
    position: relative;
    background-color: #edf1f4;
    z-index: 1;
}

.blog-bg-1 {
    background-color: #163A44;
    /*background: linear-gradient(252.85deg, rgba(33,120,146,0.72) 0%, #0B4646 100%);*/
    background-image: url('/img/RectangleLeft.png'), url('/img/RectangleRight.png');
    background-repeat: no-repeat no-repeat;
    background-size: cover, cover;
    background-position: top 10% left 28%, top 3em left 10em;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    z-index: 2;
    width: 100%;
}

.blog-content {
    z-index: 3;
    position: relative;
}

.blog-header {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -1.5px;
    /*line-height: 52px;*/
    text-align: center;
}

.blog-subheader {
    color: #062929;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.938rem;
}

.blog-highlight {
    background-image: url('/img/course_design_1_learning-300x200.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    box-shadow: 0 26px 63px 0 rgba(6, 41, 41, 0.32);
}

.blog-highlight-bg-1 {
    /*background-color: rgba(30,30,30,0.36);*/
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(13, 13, 14, 0.81) 70.31%, #121213 100%)
}

.blog-highlight:nth-child(even) .blog-highlight-bg-1 {
    background: linear-gradient(232deg, rgba(33, 120, 146, 0.51) 0%, rgba(22, 120, 124, 0.94) 61.08%, #0F786E 100%);
    /*background-color: rgba(0,0,0,0.51);*/
}

.blog-highlight .blog-highlight-bg-1 .blog-highlight-content {
    padding: 5.75rem 4.75rem;
    background-color: rgba(30, 30, 30, 0.36);
}

.blog-highlight:nth-child(even) .blog-highlight-bg-1 .blog-highlight-content {
    background-color: rgba(0, 0, 0, 0.51);
}

.blog-highlight-date {
    color: #FFCE00;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 16px;
}

.blog-highlight-title {
    max-width: 652px;
    color: #FFFFFF;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: -0.08px;
    line-height: 40px;
}

.blog-highlight-text {
    max-width: 554px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 31px;
}

.blog-highlight-author {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 31px;
}

.more-stories-item {
    border-bottom: 1px solid #DADADA;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.more-stories-item:last-child {
    border-bottom: none;
}

.more-stories-item img {
    max-width: 411px;
    max-height: 224px;
}

.more-stories-item-date {
    color: #062929;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.3px;
    line-height: 16px;
    text-transform: uppercase;
}

.more-stories-item-title {
    max-width: 692px;
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 38px;
}

.more-stories-item-text {
    color: #000000;
    max-width: 692px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 21px;
}

.blog-article {
    position: relative;
    margin-top: 68px;
    padding-top: 3.188rem;
}

.blog-article-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.788rem;
    left: 2rem;
}

.blog-article-back-btn {
    color: #0091FF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.08px;
    line-height: 44px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 1rem;
    margin-bottom: 1.213rem;
}

.blog-article-back-btn i  {
    margin-right: .8rem;
}


.blog-article-back-btn:hover, .blog-article-back-btn:visited {
    text-decoration: none;
    color: #0091FF;
}

.blog-article-back-btn i {
    font-size: 22px;
}

.blog-article-share-btn {
    height: 37px;
    width: 143px;
    border: 1px solid rgba(162,162,162,0.19);
    border-radius: 20.5px;
    color: #1E2226;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.23px;
    line-height: 14px;
    text-transform: uppercase;
}

.blog-article-share-btn i {
    color: #0091FF;
    font-size: 16px;
}

.blog-article-share-btn:hover {
    background-color: rgba(162,162,162,0.19);
}


.blog-article-content {
    max-width: 780px;
    margin: 0 auto 4rem;
}

.blog-article-date {
    color: #F0B000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 16px;
}

.blog-article-title {
    color: #000000;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: -0.08px;
    line-height: 40px;
}

.blog-article-author {
    color: #000000;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.04px;
    line-height: 21px;
}

.blog-article-text {
    color: #000000;
    font-size: 18px;
    letter-spacing: -0.04px;
    line-height: 40px;
}

.blog-article-text h3 {
    font-size: 28px;
}

.blog-footer-author-image {
    font-size: 35px;
    color: #c5c5c5;
}

.blog-footer-author {
    color: #000000;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.04px;
    line-height: 21px;
    margin-left: 1rem;
}

.blog-footer-social-btns {
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
    margin-bottom: 2rem;
}

.blog-footer-social-btns a {
    color: #3f93f4;
    /*border: 1px solid #3f93f4;*/
    border-radius: 6px;
    font-size: 32px;
    text-decoration: none;
    margin-right: 1.5rem
}

.blog-footer-social-btns a:last-child{
    border: none;
}

.blog-footer-social-btns a:hover {
    color: #3f93f4;
    text-decoration: none;
}

.blog-next-articles {
    border-bottom: 2px solid #f0f0f0;
}

.blog-next-article {
    height: 171px;
    border: 1px solid #E4E4E4;
    padding: .875rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 2rem;
}

.blog-next-article-title {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 21px;
}

.blog-next-article-link {
    color: #4093F4;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.72px;
    line-height: 14px;
    text-transform: uppercase;
}

.related-posts-title {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 2.3rem;
}

.related-post-img {
    max-height: 206px;
    border: 1px solid #E9E9E9;
}

.related-post-img img {
    max-height: 206px;
}

.related-posts {
    margin-bottom: 3rem;
}

.related-post-title {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 29px;
}

.related-post-author {
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.04px;
    line-height: 29px;
}

.related-post-date {
    color: #989898;
    font-size: 16px;
    letter-spacing: -0.04px;
    line-height: 29px;
}

@media (max-width: 1220px) {
    .blog-article {
        padding-top: 0rem;
    }

    .blog-article-back-btn {
        margin-bottom: 0;
    }

    .blog-article-options {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        left: 0;
        padding: .75rem;
    }
}


@media (max-width: 769px) {
    .blog-highlight .blog-highlight-bg-1 .blog-highlight-content {
        padding: 1.75rem 1.75rem;
        /*background: rgba(30,30,30,0.36);*/
    }

    .blog-highlight-title {
        font-size: 30px;
    }

    .more-stories-item img {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 1.5rem;
    }

    .blog-bg-1 {
        height: 630px;
    }

    .blog-article-text h3 {
        font-size: 22px;
    }

    .related-posts-title {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 500px) {
    .blog-header {
        font-size: 38px;
        margin-top: -1.5rem;
    }
}